body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #539054;
}

#game{
    background-color: #c84e4e;
    margin-top: 10rem;
    border: 2px solid #333;
}